:root {
    --grey: #333;
    --white: #fff;
    --nav-menu: #fff8f8;
    --dark: #000;
    --light-button: #4f726c;
    --bcg-hero: rgba(96, 116, 137, 0.3);
    --bcg-newsp: #fafeff;
    --f-s-h2: 1.6em;
    --f-s-h2m: 40px;
    --f-s-p: 0.7em;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    background-color: var(--dark);
}
#outer-wrapper {
  max-width: 1200px;
  margin: 0 auto; padding: 0 30px;
}
/* SLIDER */
#slider {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
#slider img{
  width: 100%;
  height: auto;
}
#left img, #right img {
  position: absolute;
  top: 40%;
  background-color: transparent;
  border: none;
  color: var(--nav-menu);
  cursor: pointer;
}
#left img {
  left: -60px;
  width: 5%;
}
#right img {
  right: -60px; 
  width: 5%;
}
/* MOBILE MENU */
#mobile-menu {
      display: none;
  }
#check {
    display: none;
  }
  /* HEADER & FOOTER BACKGROUND */
#header, footer {
      background-color: var(--dark);
  }
.wrapper {
      padding: 1%;
  }
  /* HEADER & FOOTER */
#header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
  }
#header img .logo {
      width: 7%;
  }
#header menu a, footer .footer-menu a {
      border-right: 1px solid var(--nav-menu);
  }
#header menu a:last-child, footer .footer-menu a:last-child {
      border-right: none;
  }
#header menu a, footer .footer-menu a {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;
      color: var(--nav-menu);
      text-shadow: 0.3px 0.3px #ffe5e5;
      padding: 0 15px;
  }
  /* FOOTER */
footer nav {
    text-align: center;
}
footer p {
    color: var(--white);
    text-align: center;
    padding: 2em 0;
}
/* MAIN */
#main {
    display: block;
}
#main p {
    color: var(--white);
}
#main div .boxes, #kontakt {
    display: block;
}
#main .wrapper .intro {
    font-size: 1.5em;
    line-height: 1.6em;
    font-style: italic;
}
#main .box {
    background-color: var(--grey);
    color: var(--white);
    border: 10px solid var(--white);
    box-shadow: 0 0 5px black;
    padding: 3%;
    margin: 3%;
    line-height: 1.5em;
    text-align: left;
}
.box h2, #kontakt h2 {
    font-size: var(--f-s-h2);
    padding: 0 1em 1.5em;
    text-align: center;
}
.box-1 img {
    float: left;
    width: 50%;
    padding: 0.5em 1em 0.5em;
}
.box-1 p {
    font-size: 1.3em;
    line-height: 1.8em;
    padding: 0.5em 1em 0.5em;
}
.box:after {
    content: "";
    display: table;
    clear: both;
  }
  /* CONTACT FORM */
  #main #kontakt {
    background-color: var(--grey);
    color: var(--white);
    box-shadow: 0 0 5px black;
    padding: 3%;
    margin: 3%;
    line-height: 1.5em;
    text-align: left;
}
  input[type=text], select, textarea,input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  label {
    font-size: 1.2em;
    padding: 0.5em 0;
    display: inline-block;
    text-align: center;
    color: var(--white);
  }
  
  input[type=submit] {
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--white);
    color: var(--dark);
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--dark);
    color: var(--white);
    border: 3px solid var(--white);
  }
  
  .container {
    border-radius: 5px;
    background-color: var(--white);
    padding: 20px;
  }
   
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 1280px */
  @media screen and (max-width: 1280px) {
    
    #left img, 
    #right img {
      top: 50%;
      width: 25px; height: auto;
      margin-top: -15px;
    }
    #left img {
      left: -30px;
    }
    #right img {
      right: -30px;
    }
  }
  
  /* Responsive layout - when the screen is less than 768px */
  @media screen and (max-width: 768px) {    
    #header {
      display: block;
    }
    #header .logo {
      width: 100px;
      float: left;
      margin-top: 10px;
    }
    /* MOBILE MENU */
    menu {
      display: none;
      margin-bottom: 5%;
      width: 100%;
      text-align: end;
    }
    #mobile-menu {
        display: block;
        color: var(--white);
        font-size: 3em;
        cursor: pointer;
        text-align: end;
    }
    #header menu a {
        border-right: none;
        font-size: 3.5em;
        text-align: center;
    }
    nav menu a {
        display: block;
        border-bottom: 1px solid var(--grey);
        line-height: 2.5em;
    }
    #check:checked + menu {
        display: block;
        height: 100vh;
    }
    footer .footer-menu a {
          font-size: 1.3rem;
      }
    .box h2, #kontakt h2 {
      font-size: var(--f-s-h2m);
      padding-top: 20px;
    }
    .boxes{
      padding-top: 30px;
    }
    .box-1 p {
      line-height: 1.4em;
    }
    .box-1 img {
      margin-bottom: 30px;
    }
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .box-1 img {
      display: block;
      width: 100%;
    }
    #main p {
      color: var(--white);
      font-size: 35px;
      padding-bottom: 30px;
    }    
    label, input[type=submit], input[type=text], select, textarea,input[type=email], footer p {
      font-size: 30px;
    }
    input[type=submit] {
      margin-top: 20px;
    }
  }
  /* Responsive layout - when the screen is less than 768px */
  @media screen and (max-width: 768px) {
    #header menu a {
      font-size: 30px;
    }
    #main .box {
      padding: 20px 10px;
      margin: 0;
      border: 0;
    }
    #main p {
      font-size: 18px;
    }
    .box h2, #kontakt h2 {
      padding: 20px 0 0 0; 
      margin-bottom: 30px;
      font-size: 22px;
    }
    label, input[type=submit], input[type=text], select, textarea, input[type=email], footer p {
      font-size: 16px;
    }
  }